@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-border {
  position: relative;
  z-index: 0;
}

.animated-gradient-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 1rem;
  background: linear-gradient(
    270deg,
    #ff004f,
    #ffdc60,
    #00c6ff,
    #ff00f7,
    #ffffff
  );
  background-size: 600% 600%;
  animation: gradient-rotate 4s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border-radius: inherit;
}
